<div class="dashboard-container">
  <div class="dashboard-header">
    <h1 class="dashboard-title">HAVEN</h1>
  </div>

  <div class="dashboard-content">
    <h2 class="dashboard-question">How are you feeling today ?</h2>

    <%= link_to new_state_path, class: "btn-open-up" do %>
      OPEN UP
    <% end %>
  </div>
</div>
